.custom-dropdown-menu {
  left: -50px; // Move the dropdown to the left
}
/* Reduce overall navbar height */
.navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  min-height: 50px; /* Or any height you find suitable */
}

/* Reduce logo image height */
.logo-img {
  height: 70px; /* Adjust size */
  width: auto;
}

/* Reduce font-size and spacing of nav links */
.navbar-nav .nav-link {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.9rem;
}