<div class="process-steps">
  <!-- <div class="step step1">
    <div class="hexagon-wrapper">
      <div class="hexagon">
        <i class="fas fa-book animated-icon"></i>
        <h2>01</h2>
        <div class="line"></div>
        <p>Select<br />Course</p>
      </div>
    </div>
    <div class="arrow-line"></div>
  </div> -->

  <div class="step step2">
    <div class="hexagon-wrapper">
      <div class="hexagon">
        <i class="fas fa-layer-group animated-icon"></i>
        <h2>01</h2>
        <div class="line"></div>
        <p>Create<br />Section</p>
      </div>
    </div>
    <div class="arrow-line"></div>
  </div>

  <div class="step step3">
    <div class="hexagon-wrapper">
      <div class="hexagon">
        <i class="fas fa-video animated-icon"></i>
        <h2>02</h2>
        <div class="line"></div>
        <p>Add<br />Videos</p>
      </div>
    </div>
    <div class="arrow-line"></div>
  </div>

  <div class="step step4">
    <div class="hexagon-wrapper">
      <div class="hexagon">
        <i class="fas fa-file-alt animated-icon"></i>
        <h2>03</h2>
        <div class="line"></div>
        <p>Add<br />Documents</p>
      </div>
    </div>
    <div class="arrow-line"></div>
  </div>

  <div class="step step5">
    <div class="hexagon-wrapper">
      <div class="hexagon">
        <i class="fas fa-question animated-icon"></i>
        <h2>04</h2>
        <div class="line"></div>
        <p>Add<br />Quiz</p>
      </div>
    </div>
    <div class="arrow-line"></div>
  </div>

  <div class="step step6">
    <div class="hexagon-wrapper">
      <div class="hexagon">
        <i class="fas fa-user-check animated-icon"></i>
        <h2>05</h2>
        <div class="line"></div>
        <p>Sent to<br />Admin</p>
      </div>
    </div>
  </div>
</div>
